.characterList {
  .character {
    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
    }

    .image {
      width: 100%;
      height: calc(100% - 35px);
      background-color: black;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    .name {
      display: block;
      padding: 5px 10px;
      text-align: center;
    }
  }
}
