.priorityTable {
  border-spacing: 0;
  border-collapse: collapse;

  td {
    margin: 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  thead {
    td {
      font-weight: bold;
      color: rgba(252, 25, 192, 1);
    }
  }
  tbody {
    td {
      cursor: pointer;
      &.selected {
        background-color: rgba(252, 25, 192, 0.5);
      }
    }
  }
}

.raceSelection {
  display: inline-block;
  vertical-align: top;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.raceDescription {
  display: inline-block;
  vertical-align: top;
  width: 600px;
  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h6 {
    color: rgba(252, 25, 192, 1);
    font-weight: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  p {
    font-size: 12px;
  }
}

.magic {
  display: inline-block;
  vertical-align: top;
}
.magicDescription {
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
  width: 600px;
  font-size: 12px;
}

.custom-select {
  width: 200px;
  height: 30px;
  font-size: 16px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  }
}

.adeptDistribution {
  table {
    text-align: center;
    thead {
      font-weight: bold;
    }
  }
  input[type="number"] {
    vertical-align: top;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  .slidecontainer {
    vertical-align: top;
    display: inline-block;
    margin-top: 15px;
    width: 200px;
  }
}
