.characterCreation {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;

  .resources {
    position: fixed;
    bottom: 0;
    background-color: rgba(252, 25, 192, 1);
    z-index: 999;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    left: calc(50% - 564px);

    .item {
      display: inline-block;
      text-align: center;
      margin-left: 20px;
      margin-right: 20px;
      padding: 20px;
    }
  }
}
.priorityTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    margin: 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  thead {
    td {
      font-weight: bold;
      color: rgba(252, 25, 192, 1);
    }
  }
  tbody {
    td {
      cursor: pointer;
      &.selected {
        background-color: rgba(252, 25, 192, 0.5);
      }
    }
  }
}

.raceSelection {
  display: inline-block;
  vertical-align: top;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.raceDescription {
  display: inline-block;
  vertical-align: top;
  width: 685px;

  h4 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  h6 {
    color: rgba(252, 25, 192, 1);
    font-weight: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  ul {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  p {
    font-size: 12px;
  }
}

.magic {
  display: inline-block;
  vertical-align: top;
}
.magicDescription {
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
  width: 650px;
  font-size: 12px;
}

.adeptDistribution {
  table {
    text-align: center;
    thead {
      font-weight: bold;
    }
  }
  input[type="number"] {
    vertical-align: top;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
  }
  .slidecontainer {
    vertical-align: top;
    display: inline-block;
    margin-top: 15px;
    width: 200px;
  }
}

.qualityContainer {
  .karamCost {
    margin-left: 20px;
  }
  .qualityList {
    vertical-align: middle;
    display: inline-block;
    overflow-y: scroll;
    width: 300px;
    height: 500px;
    margin-top: 10px;
    border: 1px solid white;

    .quality {
      width: calc(100% - 42px);
      padding: 20px;
      border-bottom: 1px solid black;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        box-shadow: 0 0 10px 2px rgba(252, 25, 192, 0.3);
      }
      &.selected {
        background-color: rgba(252, 25, 192, 1);
      }
      .cost {
        display: block;
        position: relative;
        height: 0;
        top: -20px;
        text-align: right;
      }

      input[type="number"] {
        vertical-align: top;
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 10px;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .qualityDescription {
    vertical-align: top;
    display: inline-block;
    margin-left: 20px;
    width: 210px;
    font-size: 14px;
  }
}

.attributeTable {
  vertical-align: top;
  display: inline-block;
  border-spacing: 0;
  border-collapse: collapse;

  td {
    padding: 10px;
  }
  thead {
    tr {
      td {
        text-align: center;
        color: rgba(252, 25, 192, 1);
        margin-bottom: 20px;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
      }
    }
  }
}

.skillsContainer {
  button {
    vertical-align: middle;
  }
  .skillList {
    display: inline-block;
    width: 300px;
    height: 500px;
    vertical-align: middle;
    overflow-y: scroll;
    border: 1px solid white;
    .skill {
      width: calc(100% - 40px);
      padding: 20px;
      transition: 0.3s;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 10px 2px rgba(252, 25, 192, 0.3);
      }
      &.selected {
        background-color: rgba(252, 25, 192, 1);
        z-index: 99;
      }
    }
  }
  .skillDescription {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    width: 230px;
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    p {
      margin-top: 10px;
    }
  }
}

.languageContainer {
  width: 100%;
  margin-top: 20px;

  .language {
    background-color: rgba(230, 230, 230, 1);
    color: black;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 20px;

    td:nth-child(2) {
      text-align: right;
    }
  }
}
